@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Outfit:wght@100..900&display=swap");
body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: column wrap;
}

header {
  display: flex;
  background-color: rgb(12, 12, 12);
  width: 100%;
  height: 5%;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 10000000;
}
header a {
  display: flex;
  text-decoration: none;
  font-family: Outfit, Arial;
  flex-flow: column wrap;
  color: white;
  font-size: 12px;
  margin: 0 -100px;
  transition: 0.2s ease;
}
header a:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

main {
  display: flex;
  flex-direction: column;
}
main #inicio {
  display: flex;
  flex-flow: column wrap;
  background-color: rgb(17, 16, 16);
  width: 98, 5%;
  border: rgb(17, 16, 16) 14px solid;
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
  margin-top: 2%;
}
main #inicio .fotos-inicio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 30px 0;
}
main #inicio .fotos-inicio img {
  object-fit: cover;
  position: relative;
  margin: 0 10px;
}
main #inicio .fotos-inicio .foto5 {
  width: 500px;
  height: 40vh;
}
main #inicio .fotos-inicio .foto1 {
  width: 500px;
  height: 40vh;
}
main #inicio .texto-inicio {
  display: flex;
  flex-flow: column wrap;
  width: 500px;
  height: 40vh;
  position: absolute;
  margin: 70px 0 0 450px;
}
main #inicio .texto-inicio h1 {
  color: white;
  font-family: Libre Baskerville, Arial;
  font-weight: 300;
  text-align: center;
  font-size: 50px;
  margin: 10px;
}
main #inicio .texto-inicio p {
  color: white;
  font-family: Outfit, Arial;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
}
main #inicio .texto-inicio a {
  text-decoration: none;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  font-family: Outfit, Arial;
  font-weight: 600;
  padding: 10px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  width: 120px;
  margin-left: 180px;
  transition: 0.2s ease;
}
main #inicio .texto-inicio a:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
main #fotosDeNosotros {
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0 0 0;
}
main #fotosDeNosotros .titulo-fotos h2 {
  font-family: Libre Baskerville, Arial;
  font-weight: 300;
  text-align: center;
  align-items: center;
  font-size: 40px;
  color: rgb(17, 16, 16);
}
main #fotosDeNosotros .fotos {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
  justify-content: center;
}
main #fotosDeNosotros .fotos img {
  display: flex;
  width: 350px;
  height: 400px;
  object-fit: cover;
  margin: 0 40px;
  box-shadow: 5px 3px 15px rgb(204, 204, 204);
}
main #fotosDeNosotros .fotos p {
  text-align: center;
  font-family: Outfit, Arial;
  font-weight: 400;
}
main #articulos {
  display: grid;
  margin: 0 400px 100px 400px;
  width: 1020px;
}
main #articulos .articulo1 {
  display: grid;
  grid-template-columns: 35% 65%;
  border: 2px solid black;
  height: 300px;
  margin-bottom: 80px;
}
main #articulos .articulo1 img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
main #articulos .articulo1 .texto-articulo1 {
  margin: 0 5%;
}
main #articulos .articulo1 .texto-articulo1 h2 {
  font-family: Libre Baskerville, Arial;
  font-weight: 300;
  font-size: 40px;
}
main #articulos .articulo1 .texto-articulo1 p {
  font-family: Outfit, Arial;
  font-weight: 200;
  font-size: 20px;
}
main #articulos .articulo2 {
  display: grid;
  grid-template-columns: 65% 35%;
  border: 2px solid black;
  height: 300px;
  margin-bottom: 80px;
}
main #articulos .articulo2 img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
main #articulos .articulo2 .texto-articulo2 {
  margin: 0 5%;
}
main #articulos .articulo2 .texto-articulo2 h2 {
  font-family: Libre Baskerville, Arial;
  font-weight: 300;
  font-size: 40px;
}
main #articulos .articulo2 .texto-articulo2 p {
  font-family: Outfit, Arial;
  font-weight: 200;
  font-size: 20px;
}
main #articulos .articulo3 {
  display: grid;
  grid-template-columns: 35% 65%;
  border: 2px solid black;
  height: 300px;
}
main #articulos .articulo3 img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}
main #articulos .articulo3 .texto-articulo3 {
  margin: 0 5%;
}
main #articulos .articulo3 .texto-articulo3 h2 {
  font-family: Libre Baskerville, Arial;
  font-weight: 300;
  font-size: 40px;
}
main #articulos .articulo3 .texto-articulo3 p {
  font-family: Outfit, Arial;
  font-weight: 200;
  font-size: 20px;
}
main #proyectos {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
main #proyectos .titulo h2 {
  font-family: Libre Baskerville, Arial;
  font-weight: 400;
  text-align: center;
  margin-top: -20px;
  font-size: 40px;
}
main #proyectos .proyectos-totales {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
main #proyectos .proyectos-totales .pryct {
  display: grid;
  height: auto;
  width: 800px;
  grid-template-columns: 10% 90%;
}
main #proyectos .proyectos-totales .pryct img {
  display: flex;
  height: 40px;
  width: 40px;
  align-self: center;
}
main #proyectos .proyectos-totales .pryct p {
  font-family: Outfit, Arial;
  font-weight: 200;
  font-size: 20px;
}
main .cartaCarta {
  display: flex;
  justify-content: center;
}
main .cartaCarta #carta {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 50px;
  background-color: #98211F;
  width: 1000px;
  border-radius: 30px;
  transition: 0.2s ease;
}
main .cartaCarta #carta:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
}
main .cartaCarta #carta .carta {
  width: 800px;
  height: auto;
  padding: 50px;
}
main .cartaCarta #carta .carta .titulo-carta h2 {
  font-size: 40px;
  font-family: Libre Baskerville, Arial;
  font-weight: 400;
  text-align: center;
  color: #551211;
}
main .cartaCarta #carta .carta .texto-carta p {
  font-family: Outfit, Arial;
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  color: #551211;
}

@media (max-width: 1480px) {
  body {
    overflow-x: hidden;
  }
  body header {
    width: 389px;
    height: 6%;
    position: fixed;
  }
  body header a {
    font-size: 9px;
    margin: 0 1px;
  }
  body main {
    display: flex;
    flex-direction: column;
  }
  body main #inicio {
    width: 362px;
  }
  body main #inicio .fotos-inicio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 30px 0;
  }
  body main #inicio .fotos-inicio img {
    object-fit: cover;
    position: relative;
    margin: 0 10px;
  }
  body main #inicio .fotos-inicio .foto5 {
    width: 300px;
    height: 30vh;
  }
  body main #inicio .fotos-inicio .foto1 {
    width: 300px;
    height: 30vh;
  }
  body main #inicio .texto-inicio {
    width: 350px;
    height: 40vh;
    margin: 70px 0 0 20px;
  }
  body main #inicio .texto-inicio h1 {
    width: 300px;
    font-weight: 300;
    font-size: 25px;
    margin: 10px;
  }
  body main #inicio .texto-inicio p {
    width: 300px;
    font-weight: 400;
    font-size: 10px;
    margin-right: 90px;
  }
  body main #inicio .texto-inicio a {
    font-size: 12px;
    padding: 5px;
    width: 80px;
    margin-left: 100px;
  }
  body main #fotosDeNosotros {
    width: 300px;
  }
  body main #fotosDeNosotros .titulo-fotos h2 {
    display: flex;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 20px;
  }
  body main #fotosDeNosotros .fotos {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  body main #fotosDeNosotros .fotos img {
    display: flex;
    width: 300px;
    height: 350px;
    margin: 20px 40px;
  }
  body main #fotosDeNosotros .fotos p {
    display: flex;
    font-family: Outfit, Arial;
    font-weight: 400;
    margin-left: 180px;
  }
  body main #articulos {
    display: grid;
    margin: 0 20px;
    width: 363px;
  }
  body main #articulos .articulo1 {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 50% 50%;
    height: 500px;
    width: 350px;
  }
  body main #articulos .articulo1 img {
    width: 100%;
    height: 250px;
  }
  body main #articulos .articulo1 .texto-articulo1 {
    margin: 0 5%;
  }
  body main #articulos .articulo1 .texto-articulo1 h2 {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
  }
  body main #articulos .articulo1 .texto-articulo1 p {
    font-family: Outfit, Arial;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
  }
  body main #articulos .articulo2 {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 50% 50%;
    height: 500px;
    width: 350px;
  }
  body main #articulos .articulo2 img {
    width: 100%;
    height: 250px;
  }
  body main #articulos .articulo2 .texto-articulo2 {
    margin: 0 5%;
  }
  body main #articulos .articulo2 .texto-articulo2 h2 {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
  }
  body main #articulos .articulo2 .texto-articulo2 p {
    font-family: Outfit, Arial;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
  }
  body main #articulos .articulo3 {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: 50% 50%;
    height: 500px;
    width: 350px;
  }
  body main #articulos .articulo3 img {
    width: 100%;
    height: 250px;
  }
  body main #articulos .articulo3 .texto-articulo3 {
    margin: 0 5%;
  }
  body main #articulos .articulo3 .texto-articulo3 h2 {
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
  }
  body main #articulos .articulo3 .texto-articulo3 p {
    font-family: Outfit, Arial;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
  }
  body main #proyectos {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 300px;
  }
  body main #proyectos .titulo {
    width: 350px;
    margin-top: 80px;
    margin-right: 640px;
  }
  body main #proyectos .titulo h2 {
    font-family: Libre Baskerville, Arial;
    font-weight: 400;
    text-align: center;
    font-size: 25px;
  }
  body main #proyectos .proyectos-totales {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-right: 600px;
  }
  body main #proyectos .proyectos-totales .pryct {
    display: grid;
    height: auto;
    width: 350px;
    grid-template-columns: 10% 90%;
  }
  body main #proyectos .proyectos-totales .pryct img {
    display: flex;
    height: 40px;
    width: 40px;
    align-self: center;
  }
  body main #proyectos .proyectos-totales .pryct p {
    font-family: Outfit, Arial;
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
  }
  body main .cartaCarta {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
  body main .cartaCarta #carta {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: unset;
    background-color: #98211F;
    width: 350px;
    border-radius: 30px;
    transition: 0.2s ease;
  }
  body main .cartaCarta #carta:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
  }
  body main .cartaCarta #carta .carta {
    width: 300px;
    height: auto;
    padding: 20px;
  }
  body main .cartaCarta #carta .carta .titulo-carta h2 {
    font-size: 30px;
    font-family: Libre Baskerville, Arial;
    font-weight: 400;
    text-align: center;
    color: #551211;
  }
  body main .cartaCarta #carta .carta .texto-carta p {
    font-family: Outfit, Arial;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    color: #551211;
  }
}

/*# sourceMappingURL=main.css.map */
